// Global namespace for nav object
$nav-namespace: "o-nav" !default;

.#{$nav-namespace} {
	display: flex;
	justify-content: space-between;

	&__mark {
		text-decoration: none;
		color: $white;
	}

	&__list {
		margin: 0;

		&-item {
			display: inline-block;
			list-style-type: none;
			padding-left: 2rem;
		}
	}

	&__link {
		text-decoration: none;
		padding-bottom: 1.25rem;
		color: $white;

		&.active {
			border-bottom: 3px solid $white;
		}

		&:hover {
			border-bottom: 3px solid $white-transparent;

			&.active {
				border-color: $white;
			}
		}
	}
}
