---
layout: default
title: Commands
nav-item: true
order: 1
---

<aside class="o-aside">
    {% include command-nav.html %}
</aside>
<article class="o-article">
    {% for app in site.commands %}
        <section id="{{app.title}}">
            <h2>{{app.title}}</h2>
            {% for type in app.commands %}
                <h3 id="{{app.title}}-{{type.title}}">{{type.title}}</h3>
                <p>{{type.des}}</p>
                <ul>
                    {% for command in type.commands %}
                    <li>
                        <code class="code">{{app.primary}} {{command.cmd}}</code>
                        <p>{{command.des}}</p>
                    </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </section>
    {% endfor %}
</article>
