---
layout: default
title: Index
nav-item: true
---

<title>Terminalogy</title>

<aside>
    {% include command-nav.html %}
</aside>

{% for app in site.commands %}
    <section id="{{app.title}}">
        <h3>{{app.title}}</h3>
        {% for type in app.commands %}
            <h4 id="{{app.title}}-{{type.title}}">{{type.title}}</h4>
            <p>{{type.des}}</p>
            <ul>
                {% for command in type.commands %}
                <li>
                    <h4>{{app.primary}} {{command.cmd}}</h4>
                    <p>{{command.des}}</p>
                </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </section>
{% endfor %}
