<!DOCTYPE html>
<html lang=en{% if page.class %} class="{{ page.class }}"{% endif %}>
	<meta charset="utf-8"/>
	<title>{{ page.title }} - {{ site.name }}</title>
	<meta name="viewport" content="initial-scale=1" />
	<meta name="p:domain_verify" content="73bb9724cf18cc4f5f5d8e8553eeb2ff"/>

	<meta property="og:title" content="{{ page.title }}"/>
	<meta property="og:site_name" content="{{ site.name }}"/>
	<meta property="og:description" content="{{ site.description | strip_html }}"/>
	<meta property="og:url" content="{{ page.url }}"/>

	<link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
	
	<link rel="shortcut icon" href=""/>
	
	<body>
		<header class="o-header u-pv-sm" role="banner">
			<div class="o-wrap">
				<nav class="o-nav" role="navigation">
					<a class="o-nav__mark u-link-reset" href="{{ "/" | prepend: site.baseurl }}">{{ site.name }}</a>
					{% include nav.html %}
				</nav>
			</div>
		</header>
