// Global spacing sizes
$spacing-sizes: (
	'xxs': .5,
	'xs': 1,
	'sm': 2,
	'md': 3,
	'lg': 4,
	'xl': 6,
	'xxl': 10,
);

// Global spacing edges
$spacing-edges: (
	'top',
	'right',
	'bottom',
	'left',
	'vertical' ('top' 'bottom'),
	'horizontal' ('left' 'right')
);

.u-m-trim {
    margin: 0 !important;
}

.u-p-trim {
    padding: 0 !important;
}

@each $size, $scale in $spacing-sizes {

	.u-p-#{$size} {
		padding: ($spacing-unit * $scale) !important;
	}

	.u-m-#{$size} {
		margin: ($spacing-unit * $scale) !important;
	}

	@each $edge, $sub in $spacing-edges {
		// Padding
		.u-p#{str-slice($edge, 1, 1)}-#{$size} {
			@if $sub {
				@each $subedge in $sub {
					padding-#{$subedge}: ($spacing-unit * $scale) !important;
				}
			} @else {
				padding-#{$edge}: ($spacing-unit * $scale) !important;
			}
		}

		// Margin
		.u-m#{str-slice($edge, 1, 1)}-#{$size} {
			@if $sub {
				@each $subedge in $sub {
					margin-#{$subedge}: ($spacing-unit * $scale) !important;
				}
			} @else {
				margin-#{$edge}: ($spacing-unit * $scale) !important;
			}
		}
	}
}
